<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-6 col-md-offset-3">
            <h3>Your contact form has been submit! Thank you!</h3>
            
        </div>
    </div>
</div>